@import url('https://fonts.googleapis.com/css?family=Sofia');
/* @import url('https://fonts.googleapis.com/css2'); */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background-color: bisque;

}

#info-body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background-color: bisque;
}
.card {
    /* width: 500px; */
    border: 1px solid rgb(250, 216, 174);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 216, 174);
    margin-right: 10px; 
    margin-top: 10px; 
}

.card-header {
    font-size: 18px;
    margin: 0;
}

.card-body {
    font-size: 14px;
    margin: 10px 0;
}

.image-logo{
    display: inline-block;
    float: right;
}

.image{
    display: inline-block;
}

#nomeTesserato{
    display: inline-block;
}

.card-title{
    border: 1px solid rgb(255, 181, 91);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 181, 91);
    margin-right: 10px; 
    margin-top: 10px; 
}

.info {
    width: auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid rgb(172, 119, 55);
}
.th-info, .td-info {
    padding: 10px;
    text-align: left;
}
th {
    background-color: rgb(255, 155, 33);
}
img {
    max-width: 100%;
    height: auto;
}
#immagine-libro{
    width: 20%;
}
