{% extends 'vuexy/partials/_sidebar.html' %} 
{% block nav_links %}
    <li class=" navigation-header">
        <span data-i18n="Others">Pipeman</span>
        <i data-feather="more-horizontal"></i>
    </li>
    <li class="
    {% if request.resolver_match.url_name == 'indexView' %}active{% endif %}
    ">
        <a class="d-flex align-items-center" href="{% url 'pipeman:indexView' %}">
            <i class="fa-regular fa-folder"></i>
            <span class="menu-item text-truncate" data-i18n="Starter">Repositories</span>
        </a>
    </li>
    {% comment %} <li class="
    {% if request.resolver_match.url_name == 'user_settings' %}active{% endif %}
    {% if request.resolver_match.url_name == 'user_settings_edit' %}active{% endif %}
    ">
        <a class="d-flex align-items-center" href="{% url 'vuexy:user_settings' %}">
            <i data-feather="settings"></i>
            <span class="menu-item text-truncate" data-i18n="Starter">Settings</span>
        </a>
    </li> {% endcomment %}
{% endblock nav_links %} 