{%extends 'pipeman/base.html'%}
{%load static%}

{% block title %}Pipeman{% endblock %}

{%block page_extra_style%}
    <link rel="stylesheet" href="{% static 'vuexy/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'vuexy/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vuexy/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css' %}">
{%endblock%}

{% block content_header_title %}
    Repositories
{% endblock %}


{% block content_header_breadcrumbs_items %}
    <li class="breadcrumb-item"><a>Home</a></li>
    <li class="breadcrumb-item active">Repositories</li>
{% endblock content_header_breadcrumbs_items %}

{%block content%}
    <table id= "table_id" class="table table-bordered">
        <thead>
            <tr>
                <th>gitlab pid</th>
                <th>project name</th>
            </tr>
        </thead>
        <tbody>
            {% for repository in repositories %}
                <tr >
                    <td>
                        <a href = "{% url 'pipeman:graphView' repository.gitlab_pid %}">{{repository.gitlab_pid}}</a>
                    </td>
                    <td>
                        {{repository.project_name}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock content%}

{%block page_extra_js%}
    <script src="{% static 'vuexy/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vuexy/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vuexy/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vuexy/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js' %}"></script>
    <script src="{% static 'vuexy/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'vuexy/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
{%endblock%}

