.grid-container {
    display: grid;
    background-color: #2196F3;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 50px;
    height: 50px;
  }
  .grid-item {
    background-color: #ffffffcc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
  }

  button{
    width: 50px;
    height: 50px;
  }
