@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sigmar&display=swap');


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 50px;
    height: 50px;
    text-align: center;
    
  }
  .grid-intestazione{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 600px;
    
  }

  .grid-items{
    border: solid black 1px;
    width: 200px;
    background-color: #5a657e6b;
    text-align: center;


  }
  .cellaCoperta {
    background-color: #7c7c7c;
    border: solid rgba(0, 0, 0, 0.815) 1px;

    width: 50px;
    height: 50px;
  }

  .cellaCoperta:hover{
    background-color: #5f5f5fc5;

  }
  select{
    width: 100px;
    background-color: #5a657e23;

  }
  .cellaAperta{
    background-color: #ffffff;
    border: solid black 1px;

    width: 50px;
    height: 50px;
  }
  .cellaBandiera{
    background-color: #e5ff00;
    border: solid black 1px;

    width: 50px;
    height: 50px;
  }

  .cellaBomba{
    background-color: #ff0000;
    border: solid black 1px;

    width: 50px;
    height: 50px;
  }

  #risultato {
    text-align: center;
  }
  
  #risultato {
    display: none;
  }
  body{
    background-color: #529799;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
  }

  .cellaNumero{
    background-color: #7c7c7c;
    border: solid rgba(0, 0, 0, 0.815) 1px;

    font-family: 'Bebas Neue', cursive;
    width: 50px;
    height: 50px;
  }
