@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sigmar&display=swap');


#title{
    font-family: 'Sigmar', cursive;
    font-size: 40px;
}

.grid-esercizi {
    display: grid;
    grid-template-columns: auto;  
}

body{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;

}
